@media screen and (max-width: 740px){
    .navbar{
        padding: 1.5rem 4rem;
    }

    .item{
        display: none;
    }

    .login-button{
        display: none;
    }

    .mobileMenu{
        display: block;
    }
    .mobileMenu button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }


    .menu-mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .menu-mobile .item{
        display: block;
        padding-top: 1.2rem;
    }

    .menu-mobile .login-button{
        display: block;
        padding: 1rem 2rem;
    }

    .menu-mobile .login-button button{
        width: 100%;
    }

    .open{
        display: block;
    }

    /*------------------------------------------------------------------------*/

    .about .row{
        display: flex;
        flex-direction: column;
    }
}